#login-container {
    width: 400px;
    margin: 100px auto 0;
}

#login-container .title {
    text-align: center;
}

#login-container .links {
    display: flex;
    justify-content: center;
    font-size: 12px;

}

#login-container .submit-btn {
    width: 100%;
}